#logo {
  height: 200px;
}

.centrar {
 display: block;
 text-align: center;
 width: 600px;
 margin: auto;
}

#flecha{
  height: 100px;
}

.home{
  height: 100px;
  padding-top: 40px;
}

.logoMenu{
  height: 20px;
}

.logoUser{
  height: 30px;
}

.li{
  list-style:none;
}

.inputSearch{
  margin: 20px 0;
}

.li .navbar{
  padding: 0;
}

.imageProfile{
  height: 200px;
}

.izquierda{
  display: block;
  text-align: left;
  margin: auto;
}