#logo {
  height: 200px;
}

.centrar {
  display: block;
  text-align: center;
  width: 600px;
  margin: auto;
}

#flecha {
  height: 100px;
}

.home {
  height: 100px;
  padding-top: 40px;
}

.logoMenu {
  height: 20px;
}

.logoUser {
  height: 30px;
}

.li {
  list-style: none;
}

.inputSearch {
  margin: 20px 0;
}

.li .navbar {
  padding: 0;
}

.imageProfile {
  height: 200px;
}

.izquierda {
  display: block;
  text-align: left;
  margin: auto;
}

.imagenSlide {
  height: 300px;
}

.separar {
  display: flex;
  justify-content: space-around;
}

.userLogo {
  height: 10em;
}

#boton-menu,
#boton-user {
  align-items: inherit;
}

#iconDelete:hover {
  color: firebrick;
  cursor: pointer;
}

#iconEdit:hover {
  color: green;
  cursor: pointer;
}

#iconFav:hover {
  color: crimson;
  cursor: pointer;
}

#iconFav {
  position: absolute;
  right: 0.5em;
}

input[type="radio"] {
  display: none;
}

.iconStar {
  cursor: pointer;
  transition: color 200ms;
}