#logo {
  height: 10em;
}

html {
  background-color: #333;
}

#root {
  background-color: #333;
}

.centrar {
  display: block;
  text-align: center;
  width: 35em;
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: white;
  border: solid gray 0.1em;
}

.izquierda {
  display: block;
  text-align: left;
  margin: auto;
}

.imageProfile{
  height: 10em;
}

.imagenSlide{
  height: 18em;
}

.baner{
  height: 13em;
}

.userLogo {
  height: 10em;
}

#iconDelete:hover {
  color: firebrick;
  cursor: pointer;
}

#iconEdit:hover {
  color: green;
  cursor: pointer;
}

#iconFav:hover {
  color: crimson;
  cursor: pointer;
}

#iconFav {
  position: absolute;
  right: 0.5em;
}

input[type="radio"] {
  display: none;
}

.iconStar {
  cursor: pointer;
  transition: color 200ms;
}

