*{
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 30em;
  width: 100%;
  height: auto;
}

html {
  background-color: #333;
  /* font-size: 2vw; */
}

#root {
  background-color: #333;
}

.td-none {
  text-decoration: none;
}

.centrar {
  display: block;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

.izquierda {
  text-align: left;
  margin: auto;
  background-color: white;
}

.imageProfile {
  max-width: 40em;
  width: 100%;
  height: auto;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.imagenSlide {
  height: 18em;
}

.baner {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.userLogo {
  height: 10em;
}

#iconDelete:hover {
  color: firebrick;
  cursor: pointer;
}

#iconEdit:hover {
  color: green;
  cursor: pointer;
}

#iconFav:hover {
  color: crimson;
  cursor: pointer;
}

#iconFav {
  position: absolute;
  right: 0.5em;
  margin: 0.5em 0;
}

.botonItinerary {
  text-decoration: none;
  color: rgb(63, 199, 63);
}

.botonItinerary:hover {
  color: darkgreen;
}

.buttonCityList {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.iconStar {
  cursor: pointer;
  transition: color 200ms;
  align-items: center;
}

.centrarIconoComentario {
  margin: auto;
  padding: 0;
  padding-right: 1em;
}

.comment-content section {
  position: absolute;
  margin: auto;
}

.comment-content section small {
  color: lightgray;
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.comment-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(201, 201, 201, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.comment-content section small strong {
  display: block;
}

.botonComment {
  text-align: right;
}

.img-user-description {
  width: 100%;
  height: auto;
  max-width: 6em;
  border: solid 2px rgba(0, 163, 175, 0.623);
  border-radius: 100%;
  vertical-align: middle;
}

.img-user-menu {
  max-width: 15em;
  margin: auto;
  height: auto;
}

.imagenLogin {
  height: 9em;
  margin: 2em auto;
  width: 100%;
}

.img-fluid{
  object-fit: cover;
}

.btn-comment{
  font-size: 0.8em;
}

.user-itinerary{
    text-align: center;
    display: grid;
}
/*
.botonEditar {
  position: absolute;
  right: 2em;
}
*/
.botonEditarImg {
  position: absolute;
  right: 1.5em;
  top: 1em;
}

.imgFondo {
  margin: auto;
  width: 100%;
  height: auto;
}

.imgMenu {
  border: solid 2px rgba(0, 163, 175, 0.623);
  border-radius: 100%;
  max-width: 45px;
  margin: auto;
  width: 100%;
  height: auto;
}

.colRelative {
  font-size: 1.5vh;
}

#detailsPic{
  max-width: 90%;
}

.table{
  display: initial;
}

.table th, .table td {
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #DC2B00;
}

.text-orange {
  color: #DC2B00;
}

.invisible {
  display: none;
  height: 10px;
}


@media (max-width: 575px) {
  .navbar {
    padding: 0;
  }

  .imagenProfile {
    padding-right: 15px;
    max-width: 20em;
  }

  .navbarMenu {
    justify-content: space-evenly;
  }
  
  .navbarMenu img{
    width: 11em;
  }

  .navbar-brand {
    margin-right: 0;
  }

}

